*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
  }
  :root
  {
    --clr:#fdfaff;
  
  }
  body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    background: var(--clr);
    height: 100%;
  }
  .navigation{
    position: relative;
    width:70%;
    height: 70px;
    background:rgb(9, 17, 62);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 6px rgb(17, 11, 11);
  }
  .navigation ul{
    display:flex;
    width:100%;
  
  }
  .navigation ul li{
    position: relative;
    list-style: none;
    width:20%;
    height:70px;
    z-index: 1;
  }
  .navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
  .navigation ul li a .icon{
    position:relative;
    display:block;
    line-height: 75px;
    font-size: 1.5em;
    transition: 0.5s;
    text-align: center;
    color:var(--clr);
  }
  .navigation ul li:hover a .icon {
    transform: translateY(-43px);
  }
  .navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity:0;
    transform: translateY(20px);
  
  }
  .navigation ul li:hover a .text{
    opacity: 1;
    transform: translateY(-4px);
  }
  
  
  .box1{
  
    position:absolute;
    justify-content: center;
    align-items: center;
    display:flex;
    width: 70%;
    height: 200px;
    background-color:transparent;
    border: 2px solid rgb(29, 27, 27);
    margin-top: 310px;
    border-radius:10px ;
    box-shadow: 0px 0px 6px rgb(17, 11, 11);
    
  
  }

  .p2{
    font-family:'Courier New', Courier, monospace;

  }
  .box1 ul li{
    
    list-style: none;
    
  }
  .box1 ul li p{
    margin-left: 90px;
  }
  .box1 .icon{
    position: absolute;
    font-size: 40px;
    margin-left: 20px;

  }
  

  
  .box2{
  
    position:absolute;
    justify-content: center;
    align-items: center;
    display:flex;
    width: 70%;
    height: 70px;
    background-color:transparent;
    border: 2px solid rgb(29, 27, 27);
    margin-top: 630px;
    border-radius:10px;
    box-shadow: 0px 0px 6px rgb(17, 11, 11);

    
  
  }
  .box2 .icon{
    margin-left:-10%;
    font-size: 30px;
  }
  .box2 .icon:hover{
    transform: rotate(10deg);
    transition: 0,5s;
  }
  .box2:hover{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite ;
  }
  @keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(1deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
  
  
  .box2 ul li{
    list-style: none;
  }
  .box2 ul li p{
    position: relative;
    display: flex;
    padding-left: 30px;
    justify-content: center;
  }

  
  .box3{
  
    position:absolute;
    display:flex;
    width: 70%;
    height: 200px;
    background-color:transparent;
    border: 2px solid rgb(29, 27, 27);
    margin-top: 955px;
    border-radius:10px ;
    box-shadow: 0px 0px 6px rgb(17, 11, 11);
  
  }
  li{
    list-style: none;
  }
  .box3 h6{

    justify-content: center;
    position: relative;
    display:flex;
    margin-top:  30px;
    

  
  }
  .box3 p {
    justify-content: center;
    position: relative;
    display:flex;
    margin:30px 20px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;

  } 
  .box4{
  
    position:absolute;
    justify-content: center;
    display:flex;
    width: 70%;
    height: 280px;
    background-color:transparent;
    border: 2px solid rgb(29, 27, 27);
    margin-top: 1490px;
    border-radius:10px ;
    box-shadow: 0px 0px 6px rgb(17, 11, 11);
  
  }
  .box4 ul li p{
    text-align: center;
  }
  .box4 ul li .input1{
    width:100%;
    height: 35px;
    border: 3px solid rgb(29, 27, 27);;
    text-align: center;
  }
  .box4 ul li .btn1{
   
    width:100%;
    height: 35px;
    background-color: rgb(41, 194, 143);
    color: #fdfaff;
    letter-spacing: 1px;;
  }
  
  .box4 ul li:nth-child(1){
    list-style: none;
    margin-top: 35px;
    
  }
  .box4 ul li:nth-child(2){
    list-style: none;
    margin-top: 20px;
    
  }
  .box4 ul li:nth-child(3){
    list-style: none;
    margin-top: 12px;
  }
  .box4 ul li:nth-child(4){
    list-style: none;
    margin-top: 12px;
  }
  .box4 ul li:nth-child(5){
    list-style: none;
    margin-top: 12px;
  }
   
  .box5{
  
    position:absolute;
    justify-content: center;
    align-items: center;
    display:flex;
    width: 70%;
    height: 200px;
    background-color:transparent;
    border: 2px solid rgb(29, 27, 27);
    margin-top: 2030px;
    border-radius:10px ;
    box-shadow: 0px 0px 6px rgb(17, 11, 11);
  
  }
  .box5 ul {
    position: relative;
    display: flex;
    z-index: 1;
  }
  .box5 .icons{
    font-size: 20px;
    color: rgb(159, 18, 88);
    
  }
  .box5 ul li p{
    margin-left: 20px;

  }
  
  
 